body {
  background-color: black;
  margin: 0;

  a, button, canvas, input {
    &:focus {
      outline: none;
    }
  }

}

.page-header {
  border-bottom: 1px solid $hacker-green;
}

.page-title {
  font-size: 2rem;
  margin:0;
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

span, p, h1, h2, h3, h4, a, input {
  color: $hacker-green;
  font-family: Inconsolata, monospace;
  text-shadow: 0 0 5px $hacker-green;
  font-weight: normal;
}

.content-box {
  border: 1px solid $hacker-green;
}
