.game-container {
  display: flex;
  border: 1px solid $hacker-green;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-start-btn {
  font-size: 30px;
  background-color: transparent;
  border: 0px;
  padding: 0;
  text-shadow: none;
  z-index: 1;

  &:focus {
    text-shadow: 0 0 5px $hacker-green;
  }
}

.game-msg {
  text-align: center;
}

.score-counter {
  position: absolute;
  left: 0;
  top: -20px;
}
